.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: fixed;
    height: 100%;
    width: 100px;
    align-items: center;
    background-color: black;
    margin-top: 60px;
  }