.stack-container {
    height: 100vh;
    width: 100%;
    padding-top: 140px;
    display: flex;
    flex-wrap: wrap;
}

.stack-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.stack-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex: 1;
}

.column-1 {
    height: 100vh;
}

.column-2 {
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    width: 40vw;
}
.mongo-logo {
    margin: 5%;
    background-color: white;
    border-radius: 25px;
    height: 12%;
    width: 30%;
    padding: 2%;
}
.react-logo {
    margin: 5%;
    height: 40%;
    width: 40%;
}
.js-logo {
    margin: 5%;
    height: 30%;
    width: 30%;
}
.express-logo {
    margin: 5%;
    height: 15%;
    width: 20%;
    background-color: white;
    border-radius: 25px;
    padding: 1.5%;
}
.node-logo {
    margin: 10%;
    height: 20%;
    width: 40%;
    background-color: white;
    border-radius: 70px;
    padding: 3%;
}
.python-logo {
    margin: 10%;
    height: 35%;
    width: 40%;
    background-color: white;
    border-radius: 80%;
    padding: 2%;
}

@media screen and (max-width: 960px) {
    .mongo-logo {
        margin-right: 10%;
        height: 15%;
        width: 70%;
    }
    .react-logo {
        margin: 20%;
        height: 40%;
        width: 90%;
    }
    .js-logo {
        margin: -15%;
        height: 50%;
        width: 60%;
    }
    .express-logo {
        margin-left: 20%;
        height: 15%;
        width: 50%;
    }
    .node-logo {
        margin: 25%;
        height: 15%;
        width: 80%;
    }
    .python-logo {
        margin: 35%;
        height: 20%;
        width: 60%;
    }
}