@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
}

.App {
  text-align: center;
  background-color: black;
  display: flex;
  height: calc( 100vh - 30px);
  margin: 0;
}

.portfolioPage {
  color: white;
}

.intro {
  font-family: 'Playfair Display', serif;
  font-size: 83px;
  color: white;
  text-align: left;
  width: 50vw;
  text-align: right;
  margin: 80px;
  height: 100%;
}

.introWrapper {
  display: flex;
  justify-content: flex-end;
}

.aboutMe {
  background-color: black;
  color: white;
  height: 100px;
  width: 100%;
}

.purpleCharacters {
  color: #ecbcfd;
}
